@import 'tailwindcss';

@theme{
    --font-monserrat: 'Montserrat', sans-serif;
    --font-mistranger: 'Myfontstran-Regular', sans-serif;
}

@font-face {
  font-family: 'Myfontstran-Regular';
  src: url('/fonts/Myfont-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: var(--font-monserrat);
  color: #f1f1f1;
}

.text-glow-red {
  text-shadow:
    0 0 15px #ff1a1a,
    0 0 20px #ff1a1a;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}